.embla {
  max-width: 100vw;
  margin: auto;
  --slide-spacing: 0rem;
  --slide-size: 244px;
}

@media (min-width: 1024px) {
  .embla {
    --slide-size: 384px;
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
